*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

nav{
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: red;
}

/*header*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /*flex*/
    display: -webkit-flex
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
}

header nav{
    /*flex*/
    display: -webkit-flex
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

header nav li{
    margin: 0 15px;
}

/*responsive*/
@media  (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    
    header nav li a {
        font-size: 15 px;
    }
}

/*Banner*/
.banner{
    position: relative;
    justify-content: center;
    text-align: center;
    color: red;
    min-height: 80px;
    
}

.banner .banner-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../img/banner4.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    width: 3000px;
    height: 600px;

}

.banner .banner-img::after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .5;
}

